.progress{
		height: 5px;
	}



.col-md-3{
		padding-top:70px;
         }
	
.fa-regular{
		font-size:20px;
		color:rgb(147,54,180);

	}

.btn1{
		width:150px;
		margin-right:20px;
		background-color:rgb(147,54,180);
		height: 40px;
		border-radius: 10px;
		color: white;
		border: 1px solid white;
	}

.btn2{
		width:150px;
		margin-right:20px;
		background-color:white;
		height: 40px;
		border-radius: 10px;
		border:2px solid rgb(147,54,180);
		color: rgb(147,54,180);
	}


	b{
		font-size: 25px;
		margin-left:10px;
	}
	h1{
		font-size: 50px;
	}
	
	
	
.oo{
		background-image:url('images/lop.jpg');
		background-size:cover ;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 20px;
			}
  
.oo1{
	color: white;
	font-size: 50px;
	padding-top: 50px;
	padding-left: 20px;
	}

	
		.oo2{
			color: white;
			font-size: 20px;
			margin-left: 20px;
		}
    .oo3{
    	margin-left: 50px;
    	margin-top: 50px;

    }	
    .card{
    	box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .text-white{
    	padding-top:50px;
    	font-size: 40px;
    	margin-left:20px;
    }
   
    i{
    	margin-right: 10px;
    }
    .fa-brands{
    	font-size: 25px;
    	color:purple;
    }
